<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>IhalkhataWebService</display-name>
	<welcome-file-list>
		<welcome-file>Welcome.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>Calbook Database</description>
		<res-ref-name>jdbc/calbook</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.exp.cemk.webservice</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DataEntryServlet</display-name>
		<servlet-name>DataEntryServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.DataEntryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataEntryServlet</servlet-name>
		<url-pattern>/DataEntryServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AutoFillServlet</display-name>
		<servlet-name>AutoFillServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.AutoFillServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutoFillServlet</servlet-name>
		<url-pattern>/AutoFillServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GridServlet</display-name>
		<servlet-name>GridServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GridServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GridServlet</servlet-name>
		<url-pattern>/GridServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GridPieServlet</display-name>
		<servlet-name>GridPieServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GridPieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GridPieServlet</servlet-name>
		<url-pattern>/GridPieServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GridExpenseServlet</display-name>
		<servlet-name>GridExpenseServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GridExpenseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GridExpenseServlet</servlet-name>
		<url-pattern>/GridExpenseServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GridPaymentServlet</display-name>
		<servlet-name>GridPaymentServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GridPaymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GridPaymentServlet</servlet-name>
		<url-pattern>/GridPaymentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GridPaymentDetailsServlet</display-name>
		<servlet-name>GridPaymentDetailsServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GridPaymentDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GridPaymentDetailsServlet</servlet-name>
		<url-pattern>/GridPaymentDetailsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GridExpenditureServlet</display-name>
		<servlet-name>GridExpenditureServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GridExpenditureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GridExpenditureServlet</servlet-name>
		<url-pattern>/GridExpenditureServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GridIndividualPieServlet</display-name>
		<servlet-name>GridIndividualPieServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GridIndividualPieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GridIndividualPieServlet</servlet-name>
		<url-pattern>/GridIndividualPieServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GridIndividualLineServlet</display-name>
		<servlet-name>GridIndividualLineServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GridIndividualLineServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GridIndividualLineServlet</servlet-name>
		<url-pattern>/GridIndividualLineServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetUserServlet</display-name>
		<servlet-name>GetUserServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GetUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUserServlet</servlet-name>
		<url-pattern>/GetUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GridIndividualExpenseServlet</display-name>
		<servlet-name>GridIndividualExpenseServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GridIndividualExpenseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GridIndividualExpenseServlet</servlet-name>
		<url-pattern>/GridIndividualExpenseServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GivePaymentServlet</display-name>
		<servlet-name>GivePaymentServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GivePaymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GivePaymentServlet</servlet-name>
		<url-pattern>/GivePaymentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SendEmailServlet</display-name>
		<servlet-name>SendEmailServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.SendEmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendEmailServlet</servlet-name>
		<url-pattern>/SendEmailServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetStackedColumnChart</display-name>
		<servlet-name>GetStackedColumnChart</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GetStackedColumnChart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetStackedColumnChart</servlet-name>
		<url-pattern>/GetStackedColumnChart</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GridSelectedExpenseServlet</display-name>
		<servlet-name>GridSelectedExpenseServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GridSelectedExpenseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GridSelectedExpenseServlet</servlet-name>
		<url-pattern>/GridSelectedExpenseServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GeneratePDFServlet</display-name>
		<servlet-name>GeneratePDFServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GeneratePDFServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeneratePDFServlet</servlet-name>
		<url-pattern>/GeneratePDFServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GenerateChartServlet</display-name>
		<servlet-name>GenerateChartServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GenerateChartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GenerateChartServlet</servlet-name>
		<url-pattern>/GenerateChartServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChangePasswordServlet</display-name>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.ChangePasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>/ChangePasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CheckUserNameServlet</display-name>
		<servlet-name>CheckUserNameServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.CheckUserNameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckUserNameServlet</servlet-name>
		<url-pattern>/CheckUserNameServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetPasswordServlet</display-name>
		<servlet-name>GetPasswordServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GetPasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPasswordServlet</servlet-name>
		<url-pattern>/GetPasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetSecurityQuestionServlet</display-name>
		<servlet-name>GetSecurityQuestionServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GetSecurityQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSecurityQuestionServlet</servlet-name>
		<url-pattern>/GetSecurityQuestionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoffServlet</display-name>
		<servlet-name>LogoffServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.LogoffServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoffServlet</servlet-name>
		<url-pattern>/LogoffServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserRegistrationServlet</display-name>
		<servlet-name>UserRegistrationServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.UserRegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegistrationServlet</servlet-name>
		<url-pattern>/UserRegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CaptchaServlet</display-name>
		<servlet-name>CaptchaServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.CaptchaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CaptchaServlet</servlet-name>
		<url-pattern>/CaptchaServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditProfileServlet</display-name>
		<servlet-name>EditProfileServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.EditProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProfileServlet</servlet-name>
		<url-pattern>/EditProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ImageServlet</display-name>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/ImageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddItemsServlet</display-name>
		<servlet-name>AddItemsServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.AddItemsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddItemsServlet</servlet-name>
		<url-pattern>/AddItemsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetHomePageDataServlet</display-name>
		<servlet-name>GetHomePageDataServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.GetHomePageDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetHomePageDataServlet</servlet-name>
		<url-pattern>/GetHomePageDataServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SendFeedbackServlet</display-name>
		<servlet-name>SendFeedbackServlet</servlet-name>
		<servlet-class>com.exp.cemk.servlets.SendFeedbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendFeedbackServlet</servlet-name>
		<url-pattern>/SendFeedbackServlet</url-pattern>
	</servlet-mapping>
</web-app>